{
  "AppSettings": {
    "Token": "JWT SECRET TOKEN HERE"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnectionString": "SQL SERVER DATABASE CONNECTION STRING HERE"
  },
  "Cloudinary": {
    "Cloud": "CLOUDINARY CLOUD NAME",
    "ApiKey": "CLOUDINARY API KEY",
    "ApiSecret": "CLOUDINARY API SECRET"
  },
  "Mail": {
    "From": "example@example.com",
    "Smtp": "smtp.example.com",
    "Port": 587,
    "Username": "username",
    "Password": "password"
  },
  "AdminCreds": {
    "FirstName": "Admin",
    "LastName": "Admin",
    "Email": "admin@admin.com",
    "Username": "admin",
    "Password": "adminadmin"
  },
  "VerifyEmailUrl": "http://localhost:3000/verify",
  "AzureAd": {
    "Instance": "INSTANCE",
    "Domain": "DOMAIN",
    "TenantId": "TENANT_ID",
    "ClientId": "CLIENT_ID",
    "CallbackPath": "/path",
    "Scopes": "access_as_user",
    "ClientSecret": "Client secret from app-registration. Check user secrets/azure portal.",
    "ClientCertificates": []
  }
}